body {
    background-color: rgb(125, 103, 103);
}

.container {
    display: flex;
    background-color: rgb(125, 103, 103);
    justify-content: center;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 3px;
}

.title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-bottom: 10px;
    align-self: center;
    /* border-style: solid;
    border-color: black; */
    border-radius: 3px;
    padding: 5px;
    user-select: none; 
}

.add {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    align-self: center;
    background-color: rgb(125, 103, 103);
    border-bottom: solid;
    border-top: solid;
    border-color: black;
    border-radius: 3px;
    padding: 7px;
    user-select: none; 
}

.btn, .rmv {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    align-self: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

#addbtn:active {     
    background-color: rgb(206, 213, 218);
}

.book {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    background-color: rgb(113, 100, 100);
    margin: 3px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    justify-self: center;
}

.form {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
}

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #rmv {
    height: 100%;
    margin-top: 8px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    margin-left: 15px;
} */

.read {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aliceblue;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
    margin-bottom: 8px;
    margin-right: 15px;
}

.read a:focus {
    background-color:rgb(29, 169, 71);
}


.fill {
    background-color: aliceblue;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
}
